.app_footer {
    height: calc(var(--grid-gap) * 3);
    width: 100%;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1999;

    padding: 0 calc(var(--grid-gap) * 3);

    background-color: var(--accents-1);
    color: var(--accents-8) !important;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--grid-gap);

    text-transform: uppercase;

    // box-shadow: 0 -1px 0.25em -0.2em var(--accents-8), 0 0 0.05em 0 var(--accents-8);
    // border-top: 1px solid var(--accents-3);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        font-size: 0.7em;
    }
}
