.app_footer {
    height: var(--footer-height);
    width: 100%;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1999;

    padding-inline: calc(var(--grid-gap) * 3);

    background-color: var(--accents-1);
    color: var(--accents-8) !important;
    border-top: 1px solid var(--accents-3);

    &[data-page="about"] {
        display: none !important;
    }
}
