@import "media.scss";

@font-face {
    font-family: "BDO Grotesk";
    src: url("/fonts/BDO-Sans/BDOSans.ttf");
    font-style: normal;
    font-weight: 300 900;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: "BDO Grotesk";
    font-size: 16px;

    background-color: var(--accents-1);
    color: var(--accents-12);

    @include media("screen", ">xlMonitor") {
        font-size: 20px;
    }

    &[data-scroll-hide] {
        overflow: hidden;
        padding-right: var(--no-scroll-padding);
    }
}

.no-scroll {
    overflow: hidden;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

pre {
    margin: 0;
}

#__next {
    position: relative;
}

.my-masonry-grid {
    display: flex;
    gap: var(--grid-gap);
}
.my-masonry-grid_column {
    background-clip: padding-box;
}

.my-masonry-grid_column > * {
    margin-bottom: calc(var(--grid-gap) * 1);
}
