@import "variable.scss";
@import "media.scss";

* {
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    &::selection {
        background-color: var(--accents-12);
        color: var(--accents-1);
    }

    svg {
        &[viewBox="0 0 512 512"] {
            path {
                fill: currentColor !important;
            }
        }
    }
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-sans);
    font-size: 16px;

    background-color: var(--accents-1);
    color: var(--accents-12);

    // @include media("screen", ">xlMonitor") {
    //     font-size: 18px;
    // }

    &[data-scroll-hide] {
        overflow: hidden;
        padding-right: var(--no-scroll-padding);
    }

    &[data-page="about"] {
        background-color: var(--accents-blue);
    }
}

.no-scroll {
    overflow: hidden;
}

a {
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
}

a,
button {
    &[data-tooltip] {
        &:hover {
            &::after {
                content: attr(data-tooltip);
                position: absolute;
                bottom: -1em;
                left: 50%;
                transform: translate(-50%, 100%);
                background-color: var(--accents-1);
                text-transform: initial;
                padding: var(--grid-gap);
                border-radius: calc(var(--grid-gap) / 1.5);
                box-shadow: 0 0 1em 0 var(--accents-6);
                font-size: 0.85em;
                min-width: 6em;
                max-width: 8em;
                text-align: center;
            }
        }
    }
}

pre {
    margin: 0;
}

code {
    background-color: var(--accents-2);
    padding-inline: calc(var(--grid-gap) / 2);
    border-radius: calc(var(--grid-gap) / 2);
}

p {
    font-family: inherit;
}

blockquote {
    font-size: 1.05em;
    font-family: var(--font-serif);
    font-style: italic;
    text-align: initial;
    font-weight: 400;
    margin-block: 2em;
}

figure {
    figcaption {
        // font-size: 0.85em;
        // font-style: italic;
        font-family: var(--font-serif);
        padding-inline: 1em;
        color: var(--accents-8);
        text-align: center;
    }
}

article {
    p,
    ul,
    blockquote {
        letter-spacing: 0.025em;
    }
}

#__next {
    position: relative;
}

#__main {
    margin-bottom: var(--footer-height);
}

#__lc_portal {
    position: relative;
    z-index: 2000;

    margin-bottom: var(--footer-height);
    background-color: var(--accents-1);
}

#__lc_portal_post {
    position: relative;
    z-index: 2000;
    min-height: 100vh;

    background-color: var(--accents-1);
}

#__lc_portal_search {
    position: relative;
    top: 0;
    z-index: 2000;
    background-color: var(--alpha-1);
    height: 100vh;
    padding: var(--header-height) calc(var(--grid-gap) * 3);
}

#__lc_portal_menu {
    position: relative;
    z-index: 1000;
}

.__loading_ripple {
    display: inline-block;
    position: relative;
    width: 3em;
    height: 3em;

    list-style: none;
    padding: 0;
    margin: 0;

    > * {
        position: absolute;
        border: 0.15em solid var(--accents-12);
        opacity: 0;
        border-radius: 100%;
        animation: ripple 0.5s cubic-bezier(0, 0.3, 0.8, 1) infinite;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        box-shadow: 0 0 0.5em 0 var(--accents-12), inset 0 0 0.8em 0 var(--accents-12);

        &:nth-child(2) {
            animation-delay: 0.25s;
        }

        @keyframes ripple {
            0% {
                width: 0%;
                height: 0%;
                opacity: 1;
                box-shadow: 0 0 0.5em 0 var(--accents-12), inset 0 0 0.1em 0 var(--accents-12);
            }
            100% {
                width: 100%;
                height: 100%;
                opacity: 0;
                box-shadow: 0 0 0em 0 var(--accents-12), inset 0 0 0.5em 0 var(--accents-12);
            }
        }
    }
}

[data-lottie="true"] {
    svg {
        path {
            fill: currentColor;
        }
    }
}

[data-layout="fluid"] {
    width: 100%;
    margin: 0 auto;
    max-width: 50em;
}

.my-masonry-grid {
    width: 100%;
    display: flex;
    gap: calc(var(--grid-gap) * 1);
}
.my-masonry-grid_column {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-gap) * 1);
}

// .my-masonry-grid_column > * {
//     margin-bottom: var(--grid-gap);
// }

// .masonry {
//     width: 100%;
//     display: flex;
//     gap: calc(var(--grid-gap) / 1);
// }

// .masonry-column {
//     padding: 0;
//     margin: 0;
//     list-style: none;
// }

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #fff;
    mix-blend-mode: difference;

    position: fixed;
    z-index: 2002;
    top: 0;
    left: 0;

    width: 100%;
    height: calc(var(--grid-gap) / 4);
}

/* Fancy blur effect */
// #nprogress .peg {
//     display: block;
//     position: absolute;
//     right: 0px;
//     width: calc(var(--grid-gap) * 20);
//     height: 100%;
//     box-shadow: 0px 0px 15px #0000ff, 0px 0px 5px #ff00ff;
//     opacity: 1;

//     -webkit-transform: rotate(3deg) translate(0px, -4px);
//     -ms-transform: rotate(3deg) translate(0px, -4px);
//     transform: rotate(3deg) translate(0px, -4px);

//     // &::after {
//     //     content: "";
//     //     position: absolute;
//     //     right: 0;
//     //     top: 0;
//     //     transform: translate(50%, -50%);
//     //     width: var(--grid-gap);
//     //     height: var(--grid-gap);
//     //     border-radius: 100%;
//     //     background-color: var(--accents-8);
//     // }
// }

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 2002;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(var(--header-height) * 1.25);

    mix-blend-mode: difference;
}

#nprogress .spinner-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center bottom;

    width: calc(var(--grid-gap) * 4);
    height: calc(var(--grid-gap) * 2);

    border-top-right-radius: calc(var(--grid-gap) * 2);
    border-top-left-radius: calc(var(--grid-gap) * 2);
    border: calc(var(--grid-gap) / 4) solid;
    border-bottom: none;
    border-color: #fff;

    animation: nprogress-spinner 350ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
