@import "variable.scss";
@import "media.scss";

* {
    box-sizing: border-box;
    border-color: var(--accents-3) !important;

    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-sans);
    font-size: 16px;

    background-color: var(--accents-1);
    color: var(--accents-12);

    // @include media("screen", ">xlMonitor") {
    //     font-size: 18px;
    // }

    &[data-scroll-hide] {
        overflow: hidden;
        padding-right: var(--no-scroll-padding);
    }
}

.no-scroll {
    overflow: hidden;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

pre {
    margin: 0;
}

#__next {
    position: relative;
}

.my-masonry-grid {
    width: 100%;
    display: flex;
    gap: calc(var(--grid-gap) / 1);
}
.my-masonry-grid_column {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
}

// .my-masonry-grid_column > * {
//     margin-bottom: var(--grid-gap);
// }

.masonry {
    width: 100%;
    display: flex;
    gap: calc(var(--grid-gap) / 1);
}

.masonry-column {
    padding: 0;
    margin: 0;
    list-style: none;

    // > * {
    //     margin-bottom: calc(var(--grid-gap) / 1);
    // }
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--accents-2);

    position: fixed;
    z-index: 2002;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: calc(var(--grid-gap) * 20);
    height: 100%;
    box-shadow: 0px 0px 15px #0000ff, 0px 0px 5px #00ffff;
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 2002;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 6em;
    height: 6em;
    border: 1px solid;
    border-radius: var(--grid-gap);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--alpha-2);
}

#nprogress .spinner-icon {
    width: calc(var(--grid-gap) * 3);
    height: calc(var(--grid-gap) * 3);
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #0000ff;
    border-left-color: #0000ff;
    border-radius: 50%;
    filter: drop-shadow(0 0 2px #0000ff);

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
