@import "mixin.scss";

.app_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-inline: calc(var(--grid-gap) * 3);
    z-index: 1000;

    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: var(--grid-gap);

    height: var(--header-height);

    background-color: var(--accents-1);
    text-transform: uppercase;

    border-bottom: 1px solid var(--accents-3);
    // @include borderShadow();

    &[data-page="about"] {
        display: none !important;
    }

    > ul {
        padding: 0;
        margin: 0;
        list-style: none;

        display: flex;
        align-items: center;
        gap: calc(var(--grid-gap) / 1);

        > li {
            position: relative;
            height: 100%;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            // color: var(--accents-6);

            // &:last-child {
            //     color: var(--accents-12);
            // }

            // &[data-menu="text"] {
            //     padding: 0;
            // }

            // > a,
            // > button,
            // > input[type="text"],
            // > select,
            // > span {
            //     border-radius: 0;
            //     border: none;

            //     background-color: inherit;

            //     margin: 0;
            //     cursor: pointer;

            //     font-family: inherit;
            //     font-size: inherit;
            //     font-weight: inherit;
            //     font-size: 0.75em;
            //     font-weight: 400;

            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     height: 100%;
            //     width: 100%;

            //     > span {
            //         // max-width: 100px;
            //         overflow: hidden;
            //         display: block;
            //         white-space: nowrap;
            //         text-overflow: ellipsis;
            //     }
            // }
        }
    }
}

.post {
    @include borderShadow();
}
