@import "media.scss";

.container {
    position: fixed;
    inset: 0;
    z-index: 2000;
    overflow-y: scroll;
    background-color: var(--alpha-1);
    backdrop-filter: blur(3px);
}

.content_box {
    pointer-events: initial;
    position: relative;

    > div {
        min-height: calc(100vh - var(--header-height) - calc(var(--grid-gap) * 3));
    }
}
