@import "media.scss";

.container {
    position: fixed;
    // inset: 0;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    overflow-y: scroll;
    background-color: var(--alpha-2);
    backdrop-filter: blur(3px);
}

.content_box {
    pointer-events: initial;
    position: relative;

    > div {
        min-height: calc(100vh - calc(var(--header-height) * 2));
    }
}
