@font-face {
    font-family: "BDO Grotesk";
    src: url("/fonts/BDO-Grotesk/BDOGrotesk-VF.ttf");
    font-style: normal;
    font-weight: 300 900;
    font-display: block;
}

:root {
    --font-sans: "BDO Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, "Times New Roman", Times, serif;

    --grid-gap: 0.5em;

    --header-height: calc(var(--grid-gap) * 5);
    --footer-height: 16.66vh;

    --no-scroll-padding: 0px;

    --accents-1: #ffffff;
    --accents-2: #e6e6e6;
    --accents-3: #cecece;
    --accents-4: #b6b6b6;
    --accents-5: #9f9f9f;
    --accents-6: #888888;
    --accents-7: #727272;
    --accents-8: #5d5d5d;
    --accents-9: #484848;
    --accents-10: #353535;
    --accents-11: #222222;
    --accents-12: #101010;

    --accents-pink: #ffe6ec;

    --alpha-1: rgb(255 255 255 / 80%);
    --alpha-2: rgb(255 255 255 / 60%);
    --alpha-3: rgb(255 255 255 / 40%);
}

[data-theme="light"] {
    --accents-1: #ffffff;
    --accents-2: #e6e6e6;
    --accents-3: #cecece;
    --accents-4: #b6b6b6;
    --accents-5: #9f9f9f;
    --accents-6: #888888;
    --accents-7: #727272;
    --accents-8: #5d5d5d;
    --accents-9: #484848;
    --accents-10: #353535;
    --accents-11: #222222;
    --accents-12: #101010;

    --accents-pink: #ffe6ec;
    --alpha-1: rgb(255 255 255 / 80%);
    --alpha-2: rgb(255 255 255 / 60%);
    --alpha-3: rgb(255 255 255 / 40%);
}

[data-theme="dark"] {
    --accents-1: #000000;
    --accents-2: #161616;
    --accents-3: #2b2b2b;
    --accents-4: #414141;
    --accents-5: #575757;
    --accents-6: #6d6d6d;
    --accents-7: #828282;
    --accents-8: #989898;
    --accents-9: #aeaeae;
    --accents-10: #c4c4c4;
    --accents-11: #d9d9d9;
    --accents-12: #efefef;

    --accents-pink: #c49ba5;
    --alpha-1: rgb(10 10 10 / 80%);
    --alpha-2: rgb(10 10 10 / 60%);
    --alpha-3: rgb(10 10 10 / 40%);

    img {
        filter: brightness(80%);
    }
}
